* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: "Poppins", sans-serif;
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

#gwInput::-webkit-outer-spin-button,
#gwInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#app {
  padding: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.icon {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column; }

.form input {
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  border: 2px solid #183e69;
  border-radius: 5px;
  width: 15rem;
  transition: all 0.2s ease; }

.form label {
  padding-bottom: 0.3rem;
  font-size: 14px; }

.form button {
  padding: 0.8rem;
  width: 15rem;
  color: #183e69;
  background-color: white;
  border: none;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: ease all 0.5s;
  border: 1px solid #183e69;
  cursor: pointer; }

.form button:hover {
  color: white;
  background-color: #183e69; }

.form input:focus {
  transform: scale(1.05);
  outline: none; }

.form button:active {
  transform: scale(0.95); }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem; }

nav a {
  margin-right: 1rem;
  border: 1px solid #183e69;
  width: 100px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 25px;
  transition: ease all 0.5s;
  text-decoration: none;
  color: #183e69; }

nav a:hover {
  color: white;
  background-color: #183e69; }

#weather {
  width: 100%;
  text-transform: capitalize;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.current img {
  margin: 0 auto; }

.location,
.current,
.forecast {
  margin-top: 2rem;
  background: #183e69;
  border-radius: 25px;
  color: white;
  width: 30.5%;
  min-width: 18rem;
  box-shadow: 7px 7px 13px -3px rgba(0, 0, 0, 0.4); }

.location h1,
.current h1,
.forecast h1 {
  text-align: center;
  font-size: 25px; }

.forecast {
  text-align: center; }

.line {
  height: 2px;
  width: 90%;
  background-color: white;
  margin: 2rem auto 2rem auto;
  border-radius: 2px; }

.line:last-of-type {
  width: 0;
  height: 0; }

.info {
  padding: 0 1.5rem 0 1.5rem; }

.info:last-of-type {
  padding: 0 1.5rem 1rem 1.5rem; }

.info-header {
  padding: 1rem 1.5rem 0 1.5rem; }

.current p,
img {
  padding: 0 1.5rem 0 1.5rem; }

@media only screen and (max-width: 1050px) {
  #weather {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #weather .location,
    #weather .current,
    #weather .forecast {
      width: 50%; } }
